/* 2021 01 25 */
        h1{
            color: yellow;
            background:black;
        }
        .cc{
            color: white;
            background:blue;
        }
        #id01{
            color: pink;
            background: green;
        }