<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1{
            color:red;
        }
        #login_form > input[type="text"]{
            color:blue;
            background:grey;
        }
        h2:hover{
            color:yellow;
            background:black;
        }
    </style>
</head>
<body>
    <h1>CSS Attribute Test</h1>
    <h2><a href="">Header2</a></h2>
    <form id="login_form" action="register" method = "get">
        ID<input type="text" name="id"><br>
        PWD<input type="password" name="pwd"><br>
        <input type="submit" value="LOGIN">
    </form>
</body>
</html>